// Me esconde parte del formulario 
#Miconsumo{
  display: none;
}
#TransporteTerrestre{
  display: none;
}
#ElectricidadDisabled{
  display: none;
}
#tipoDieta{
  display: none;
}  
#distanciaD{
  display: none;
}
#horasManejo{
  display: none;
}
#viajesCheck{
  display: none; 
}