<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Huella de carbono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Diapositivas con el Formulario -->
  <ion-slides #slides [options]="options" lockSwipes="true" >
  <!-- Gif -->
    <ion-slide> 
      <div class="Gif">
        <img src="assets/img/slides-bienvenido.gif">
        <ion-item>
          <ion-button shape="round" size="large" slot="end" (click)="nextSlide()"  id="BttContinuar">Continuar</ion-button>
        </ion-item>
      </div>
    </ion-slide>
  <!-- Formulario parte 1 -->
    <ion-slide>
      <div class="ConsumoElectricidad">
        <form [formGroup]="ConsumoElectrico" (ngSubmit)="saveConsumoElectrico(ConsumoElectrico.value)">
          <ion-toolbar>
            <h2>Con su factura de luz cuéntenos</h2>
            </ion-toolbar>

            <ion-item>
              <ion-label>Sé mi consumo</ion-label>
              <ion-checkbox (click)="Display = !Display" [disabled]="this.checked  ? 'true' : 'false'" (click)="hiddenConsumoElectrico()"></ion-checkbox>
            </ion-item>
            <div id="ElectricidadDisabled">
              <ion-toolbar>  
                <ion-label>¿Cuál es el valor promedio de la factura mensual?</ion-label>  
                <ion-toolbar>
                  <ion-select formControlName="valorElectrico" [disabled]="this.checked  ? 'true' : 'false'" placeholder="Seleccionar">
                    <ion-select-option value="20000">$0 - $20.000</ion-select-option>
                    <ion-select-option value="30000">$20.000 - $30.000</ion-select-option>
                    <ion-select-option value="50000">$30.000 - $50.000</ion-select-option>
                    <ion-select-option value="100000">$50.000 - $100.000</ion-select-option>
                    <ion-select-option value="150000">$100.000 - $150.000</ion-select-option>
                  </ion-select>
                </ion-toolbar>
              </ion-toolbar>
        
              <ion-toolbar>
                <ion-label>¿Cuántas personas viven con usted?</ion-label>
                <ion-item>
                  <ion-input formControlName="Npersonas" [disabled]="this.checked ? 'true' : 'false'" placeholder="Ingrese una cantidad"></ion-input>
                personas
                </ion-item>
              </ion-toolbar>
            </div>
          
            <ion-item id="Nose">
              <ion-label>No sé mi consumo</ion-label>
            <ion-checkbox (click)="this.checked = !this.checked;"></ion-checkbox>
            </ion-item>
            
            <ion-item>
              <ion-button type="submit" shape="round" size="large" slot="end" id="BttContinuar">Continuar</ion-button>
            </ion-item>
        </form>
      </div>
    </ion-slide>
  <!-- Gif -->
    <ion-slide> 
      <div class="Gif">
        <img src="assets/img/slides-bien-hecho.gif">
        <ion-item>
          <ion-button shape="round" size="large" slot="end" (click)="nextSlide()"  id="BttContinuar">Continuar</ion-button>
        </ion-item>
      </div>
    </ion-slide>
  <!-- Formulario parte 2 -->
    <ion-slide>
      <div class="ConsumoAlimentos">

        <form [formGroup]="ConsumoAlimentario" (ngSubmit)="saveConsumoAlimentario(ConsumoAlimentario.value)">
          <ion-toolbar>
            <h2>Cuéntenos de que se alimenta</h2>
          </ion-toolbar>
          <ion-item>
            <ion-label>Conozco mi dieta</ion-label>
            <ion-checkbox [disabled]="disabled ? 'false' : 'true'" (click)="disabled2 = !disabled2" (click)="hiddenMiconsumo()"></ion-checkbox>
          </ion-item>
          <div id="tipoDieta">
              <ion-toolbar>
                <ion-label>¿Cuál es su dieta?</ion-label>
                  <ion-select formControlName="tuDieta" placeholder="Seleccionar">
                    <ion-select-option value="0.1">Vegetariano</ion-select-option>
                    <ion-select-option value="0.7">Baja en carne</ion-select-option>
                    <ion-select-option value="1.5">Alta en carne</ion-select-option>
                  </ion-select>
              </ion-toolbar>
          </div>
        
          <ion-item id="consumo">
            <ion-label>Conozco mi consumo</ion-label>
          <ion-checkbox (click)="disabled = !disabled" (click)="hiddenMiconsumo()"></ion-checkbox>
          </ion-item>
    
          <div id="Miconsumo">
            <ion-toolbar>
              <ion-label>Comida</ion-label>
              <ion-item>
                Cordero&nbsp;
                <ion-input formControlName="cordero" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-item>
                Carne de res&nbsp;
                <ion-input formControlName="res" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-item>
                Queso&nbsp;
                <ion-input formControlName="queso" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-item>
                Tocino&nbsp;
                <ion-input formControlName="tocino" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-item>
                Carne de cerdo&nbsp;
                <ion-input formControlName="cerdo" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-item>
                Camarones&nbsp;
                <ion-input formControlName="camarones" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-item>
                Pollo&nbsp;
                <ion-input formControlName="pollo" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-item>
                Huevos&nbsp;
                <ion-input formControlName="huevos" placeholder="Ingrese una cantidad"></ion-input>
                Und
              </ion-item>
              <ion-item>
                Arroz&nbsp;
                <ion-input formControlName="arroz" placeholder="Ingrese una cantidad"></ion-input>
                Kg
              </ion-item>
              <ion-label>Bebida</ion-label>
              <ion-item>
                Chocolate&nbsp;
                <ion-input formControlName="chocolate" placeholder="Ingrese una cantidad"></ion-input>
                L
              </ion-item>
              <ion-item>
                Café&nbsp;
                <ion-input formControlName="cafe" placeholder="Ingrese una cantidad"></ion-input>
                L
              </ion-item>
              <ion-item>
                Vino&nbsp;
                <ion-input formControlName="vino" placeholder="Ingrese una cantidad"></ion-input>
                L
              </ion-item>
              <ion-item>
                Leche&nbsp;
                <ion-input formControlName="leche" placeholder="Ingrese una cantidad"></ion-input>
                L
              </ion-item>
              <ion-item>
                Cerveza&nbsp;
                <ion-input formControlName="cerveza" placeholder="Ingrese una cantidad"></ion-input>
                L
              </ion-item>
              
            </ion-toolbar>
          </div>
          <ion-item>
            <ion-button type="submit" shape="round" size="large" slot="end"  id="BttContinuar">Continuar</ion-button>
          </ion-item>
        </form>

      </div>
    </ion-slide>
  <!-- Gif -->
    <ion-slide> 
      <div class="Gif">
        <img src="assets/img/slides-un-poco-mas.gif">
        <ion-item>
          <ion-button shape="round" size="large" slot="end" (click)="nextSlide()"  id="BttContinuar">Continuar</ion-button>
        </ion-item>
      </div>
    </ion-slide>
  <!-- Formulario parte  3-->
    <ion-slide>
      <div class="ConsumoTransporteTerrestre">
        <form [formGroup]="consumoTransporteTerrestre" (ngSubmit)="saveConsumoTerrestre(consumoTransporteTerrestre.value)">
          <h2>Cuéntenos como se transporta</h2>

          <div id="Distancia">
              <ion-item>
                <ion-label>Conozco la distancia diaria</ion-label>
                <ion-checkbox id="Distanciadiaria" (click)="hidden1 = !hidden1"  (click)="TransporteTerrestre()"></ion-checkbox>
              </ion-item>
              <ion-item id="distanciaD">
                <ion-input  formControlName="distanciaDiaria" placeholder="Ingrese una cantidad"></ion-input>
                km
              </ion-item>
          </div>
        
          <div id="Manejo">
              <ion-item>
                <ion-label>Cuántas horas diarias manejo</ion-label>
                <ion-checkbox id="HorasdeManejo" (click)="hidden2 = !hidden2"  (click)="TransporteTerrestre()"></ion-checkbox>
              </ion-item>
              <ion-item id="horasManejo">
                <ion-input formControlName="horasdeManejo" placeholder="Ingrese una cantidad"></ion-input>
                horas
              </ion-item>
          </div>
        
          <div id="TransporteTerrestre">
            <ion-item>
              <h2>Escoja su motor</h2>
            </ion-item>
              <!-- Deacuerdo a la opción escogida se condicionan los demás selects -->
              <ion-item>
                <ion-label position="stacked">Tipo de combustible</ion-label>
                <ion-select formControlName="combustible"  placeholder="Seleccionar" (ionChange)="TipodeCombustibleChange()">
                  <ion-select-option *ngFor="let combustible of TipodeCombustible" [value]="combustible">{{combustible}}</ion-select-option> 
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Tipo de Motor</ion-label>
                <ion-select formControlName="motor" placeholder="Seleccionar">
                  <ion-select-option *ngFor="let motor of MotorChoose" [value]="motor">{{motor}}</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- Fin -->
          </div>

          <ion-item id="itemNotengo">
            <ion-label>No tengo vehículo</ion-label>
            <ion-checkbox (click)="hidden3 = !hidden3" (click)="TransporteTerrestre()"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-button type="submit" [disabled]="!consumoTransporteTerrestre.valid"  shape="round" size="large" slot="end"  id="BttContinuar">Continuar</ion-button>
          </ion-item>

        </form>
      </div>
    </ion-slide>
  <!-- Gif -->
    <ion-slide> 
      <div class="Gif">
        <img src="assets/img/slides-ya-casi.gif">
        <ion-item>
          <ion-button shape="round" size="large" slot="end" (click)="nextSlide()"  id="BttContinuar">Continuar</ion-button>
        </ion-item>
      </div>
    </ion-slide>
  <!-- Formulario parte 4 -->  
    <ion-slide>
      <div class="ConsumotransporteAereo">
        <form [formGroup]="consumoTransporteAereo" (ngSubmit)="saveConsumoAereo(consumoTransporteAereo.value)">
          <h2>Cuéntenos si viajas en avión</h2>
    
          <ion-item id="ViajoAvion">
            <ion-label>Sí viajo en avión</ion-label>
            <ion-checkbox (click)="Ocultar = !Ocultar" (click)="hiddenConsumoAereo()"></ion-checkbox>
          </ion-item>
    
          <div id="viajesCheck">
            <ion-toolbar>
              <ion-label>Nacionales</ion-label>
              <ion-item>
                <ion-input formControlName="nacional"  placeholder="Ingrese una cantidad"></ion-input>
              </ion-item>
            </ion-toolbar>
            <ion-toolbar>
              <ion-label>Internacionales</ion-label>
              <ion-item>
                Norteamérica&nbsp;
                <ion-input formControlName="norteamerica"  placeholder="Ingrese una cantidad"></ion-input>
              </ion-item>
              <ion-item>
                Suramérica&nbsp;
                <ion-input formControlName="suramerica"  placeholder="Ingrese una cantidad"></ion-input>
              </ion-item>
              <ion-item>
                Europa&nbsp;
                <ion-input formControlName="europa" placeholder="Ingrese una cantidad"></ion-input>
              </ion-item>
              <ion-item>
                Asia&nbsp;
                <ion-input formControlName="asia" placeholder="Ingrese una cantidad"></ion-input>
              </ion-item>
              <ion-item>
                Oceanía&nbsp;
                <ion-input formControlName="oceania" placeholder="Ingrese una cantidad"></ion-input>
              </ion-item>
              <ion-item>
                África&nbsp;
                <ion-input formControlName="africa" placeholder="Ingrese una cantidad"></ion-input>
              </ion-item>
            </ion-toolbar>
          </div>
    
          <ion-item id="NoviajoAvion">
            <ion-label>No viajo en avión</ion-label>
            <ion-checkbox (click)="Ocultar1 = !Ocultar1" (click)="hiddenConsumoAereo()"></ion-checkbox>
          </ion-item>
    
          <ion-item>
            <ion-button type="submit" shape="round" size="large" slot="end" id="BttContinuar">Continuar</ion-button>
          </ion-item>  
        </form>
      
      </div>
    </ion-slide>
    <!-- Gif -->
    <ion-slide>
      <div class="Gif">
        <img src="assets/img/slides-felicidades.gif">
        <ion-item>
          <ion-button shape="round" size="large" slot="end" (click)="nextSlide()"  id="BttContinuar">Continuar</ion-button>
        </ion-item>
      </div>
    </ion-slide>
    <!-- Resultados -->
    <ion-slide>
      <div class="Resultados">
        <ion-toolbar>
          <h2>Total huella de carbono</h2>
        </ion-toolbar>
        <ion-toolbar>
          <ion-item>
            <ion-input disabled="true">{{CalculoHuellaCarbono}}</ion-input>
            &nbsp; Ton CO2/año
          </ion-item>
        </ion-toolbar>
        <ion-toolbar>
          <h2>Árboles necesarios para compensar su huella</h2>
        </ion-toolbar>
        <ion-toolbar>
          <ion-item>
            <ion-input disabled="true">{{CalculodeArboles}}</ion-input>
            &nbsp; Árboles
          </ion-item>
        </ion-toolbar>
        <ion-item>
          <ion-button shape="round" size="large" expand="full" slot="end" (click)="firstSlide()"  id="BttContinuar">Finalizar</ion-button>
        </ion-item>
      </div>
    </ion-slide>
  </ion-slides>
 
</ion-content>
 