// Baner de noticias
#Noticia{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 140px;
}
// Modifica la altura del reproductor
.videoPlayer{
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
//Modifica el color y posición del texto en las noticias
#textNoticia {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
  color: blue;
}
// Posición de la flecha
ion-icon.vermas{
  position: relative;
  left: 58%;
  top: 5px;
}
ion-searchbar{
  --color: #fff;
  -moz-box-flex: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  --icon-color: #fff;
  --background: #29bcff;
  --box-shadow: none;
}
.img-icon{
  width: 40%;
}
#services{
  padding: 8px;
}
#patrocinadores{
  background-color: #fff;
  display: flex;
  height: 90%;    
  border-radius: 10px;
}
#iniciasesion{
  border-color: #22C7FB;
  border-style: outset;
}