<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar" clearInput></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Baner de noticias -->
  <div id="BannerNoticias">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card>
            <a href="https://sostenibilidad.semana.com/medio-ambiente/articulo/la-bahia-de-santa-marta-vuelve-a-ser-la-mas-linda-de-america/49479">
              <ion-toolbar id="Noticia">
                <img id="Noticia" src="https://static.iris.net.co/semana/upload/images/2020/4/2/660887_1.jpg">
                <ion-label id="textNoticia">La bahía de Santa Marta vuelve a ser la más linda de América</ion-label>
              </ion-toolbar>
            </a> 
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <a href="https://www.dw.com/es/la-naturaleza-ya-est%C3%A1-en-parte-perdida-y-el-resto-en-declive-seg%C3%BAn-expertos/a-48585270">
            <ion-toolbar>
              <img src="https://www.dw.com/image/41270348_303.jpg" id="Noticia">
              <ion-label id="textNoticia">La naturaleza ya está en parte "perdida" y el resto en declive, según expertos</ion-label>
            </ion-toolbar>
          </a>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
            <source src="assets/video/Project.mp4" type="video/mp4">
            <!--<source src="mov_bbb.ogg" type="video/ogg">-->
            Your browser does not support HTML5 video.
          </video>
        </ion-card>
      </ion-slide>
      
    </ion-slides>
  </div> 
<!-- grilla de patrocinadores -->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Patrocinadores</h2>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-toolbar id="patrocinadores">
            <img  src="assets/img/Cinemark.png" id="ImgBannerEmpresas">
            <p>Cadena de Cines<br></p>
          </ion-toolbar>
        </ion-col>
        <ion-col>
          <ion-toolbar id="patrocinadores">
            <img  src="assets/img/ecopetrol.png" id="ImgBannerEmpresas">
            <p>Empresa de Petroleos S.A</p>
          </ion-toolbar>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-toolbar id="patrocinadores">
            <img  src="assets/img/Persona2.jpg" id="ImgBannerPersonas">
            <p>Comerciante<br></p>
          </ion-toolbar>
        </ion-col>
        <ion-col>
          <ion-toolbar id="patrocinadores">
            <img  src="assets/img/Persona3.jpg" id="ImgBannerPersonas">
            <p>Mercader</p>
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<!-- Baner para acceder a los formularios-->
  <div class="services">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contribuyamos juntos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <ion-card (click)="iraRegistrarProyecto()"  color="light" id="services">
                  <ion-toolbar>
                    <h2>Regístre un proyecto</h2>
                    <img src="/assets/img/plus.png" class="img-icon">
                    <p>Agrege un proyecto y contribuye a mitigar el cambio climático</p>
                  </ion-toolbar>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card (click)="iraPatrocinadores()"  color="light" id="services">
              <ion-toolbar>
                <h2>Patrocine un proyecto</h2>
                <img src="/assets/img/dinero.png" class="img-icon">
                <p>Apoyando ayuda a mitigar el cambio climático</p>
              </ion-toolbar>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card (click)="iraHuella()" color="light" id="services">
                <ion-toolbar>
                  <h2>Calcule su huella de carbono</h2>
                  <img src="/assets/img/planta.png" class="img-icon">
                  <p>Conozca cuál es el impacto de su estilo de vida</p>
                </ion-toolbar>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>
  </div> 
<!-- Acceso rapido a iniciar sesión  -->
  <div *ngIf="(auth.User == false);">
    <ion-card id="iniciasesion">  
      <ion-card-content>
        <h2>Ingresa con tu cuenta de Aire + Limpio</h2>
        <p>y contribuya a reducir la huella de carbono</p>
        <ion-button routerLink="/iniciarsesion" shape="round" expand="full">INICIA SESIÓN</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
<!-- Proyectos registrados -->
  <div>
    <ion-card >  
      <ion-card-header>
          <ion-card-title>Protección Páramo</ion-card-title>
      </ion-card-header>
      <img src="assets/img/fondo.jpg">
      <ion-card-content>
        <ion-progress-bar value="0.25" buffer="0.25"></ion-progress-bar>
        <p>25% Financiado <br></p>
      </ion-card-content>
    </ion-card>
  
    <ion-card >  
      <ion-card-header>
          <ion-card-title>Titulo del proyecto</ion-card-title>
      </ion-card-header>
        <img src="assets/img/fondo.jpg">
      <ion-card-content>
        <ion-progress-bar value="0.40" buffer="0.40"></ion-progress-bar>
        <p>40% Financiado <br></p>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>



