<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Banco de proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Imagen que redirige a registrar proyecto -->
  <a routerLink="/registrodeproyecto">
    <img src="assets/img/Registratuproyecto.png">
  </a>
<!-- Muestra los proyectos que el usuario tiene registrados -->
  <div>
    <ion-card >  
      <ion-card-header>
          <ion-card-title>Protección Páramo</ion-card-title>
      </ion-card-header>
      <img src="assets/img/fondo.jpg">
      <ion-card-content>
        <ion-progress-bar value="0.25" buffer="0.25"></ion-progress-bar>
        <p>25% Financiado <br></p>
      </ion-card-content>
    </ion-card>

    <ion-card >  
      <ion-card-header>
          <ion-card-title>Titulo del proyecto</ion-card-title>
      </ion-card-header>
        <img src="assets/img/fondo.jpg">
      <ion-card-content>
        <ion-progress-bar value="0.40" buffer="0.40"></ion-progress-bar>
        <p>40% Financiado <br></p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
