<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Registrar proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-toolbar>     
    <h2>Información General</h2>
  </ion-toolbar>
<!-- Formulario registro de proyecto - Información basica del bosque -->
  <form [formGroup]="ResgistroInfGeneral" (ngSubmit)="saveData(ResgistroInfGeneral.value)">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>Nº Formulario</ion-label>
          <!-- <ion-label>{{NumeroForm}}</ion-label> 20 => Año 03 => Mes 01 => NumeroForm -->
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipo de proyecto</ion-label>
          <ion-select formControlName="tipoproyecto" placeholder="Seleccionar">
            <ion-select-option *ngFor="let tipoproyecto of typepfprojects" [value]="tipoproyecto">{{tipoproyecto}}</ion-select-option>
          </ion-select>
        </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.tipoproyecto">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('tipoproyecto').hasError(validation.type) && (ResgistroInfGeneral.get('tipoproyecto').dirty || ResgistroInfGeneral.get('tipoproyecto').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

        <ion-item>
          <ion-label position="floating">Nombre del proyecto</ion-label>
          <ion-input formControlName="nombreProyecto"></ion-input>
        </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nombreProyecto">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('nombreProyecto').hasError(validation.type) && (ResgistroInfGeneral.get('nombreProyecto').dirty || ResgistroInfGeneral.get('nombreProyecto').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

        <ion-item>
          <ion-label position="stacked">Área del bosque</ion-label>
          <ion-input formControlName="areaBosque" placeholder="Ingrese valor en hectareas"></ion-input>
        </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.areaBosque">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('areaBosque').hasError(validation.type) && (ResgistroInfGeneral.get('areaBosque').dirty || ResgistroInfGeneral.get('areaBosque').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

        <ion-item>
          <ion-label position="stacked">Tipo de bosque</ion-label>
          <ion-select formControlName="tipoBosque" placeholder="Seleccionar">
            <ion-select-option *ngFor="let tipoBosque of foresttype" [value]="tipoBosque">{{tipoBosque}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.tipoBosque">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('tipoBosque').hasError(validation.type) && (ResgistroInfGeneral.get('tipoBosque').dirty || ResgistroInfGeneral.get('tipoBosque').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked">Especie de arbol</ion-label>
          <ion-select formControlName="especieArbol" placeholder="Seleccionar">
            <ion-select-option *ngFor="let especieArbol of treespecies" [value]="especieArbol">{{especieArbol}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.especieArbol">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('especieArbol').hasError(validation.type) && (ResgistroInfGeneral.get('especieArbol').dirty || ResgistroInfGeneral.get('especieArbol').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked">Tamaño promedio del arbol</ion-label>
          <ion-select formControlName="tamanoArbol" placeholder="Seleccionar">
            <ion-select-option *ngFor="let tamanoArbol of treespecies" [value]="tamanoArbol">{{tamanoArbol}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.tamanoArbol">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('tamanoArbol').hasError(validation.type) && (ResgistroInfGeneral.get('tamanoArbol').dirty || ResgistroInfGeneral.get('tamanoArbol').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Edad del arbol</ion-label>
          <ion-input formControlName="edadArbol"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.edadArbol">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('edadArbol').hasError(validation.type) && (ResgistroInfGeneral.get('edadArbol').dirty || ResgistroInfGeneral.get('edadArbol').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Altura promedio</ion-label>
          <ion-input formControlName="alturaArbol"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.alturaArbol">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('alturaArbol').hasError(validation.type) && (ResgistroInfGeneral.get('alturaArbol').dirty || ResgistroInfGeneral.get('alturaArbol').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Diametro promedio</ion-label>
          <ion-input formControlName="diametroArbol"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.diametroArbol">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('diametroArbol').hasError(validation.type) && (ResgistroInfGeneral.get('diametroArbol').dirty || ResgistroInfGeneral.get('diametroArbol').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked">Clima</ion-label>
          <ion-select formControlName="clima" placeholder="Seleccionar">
            <ion-select-option *ngFor="let clima of weather" [value]="clima">{{clima}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.clima">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('clima').hasError(validation.type) && (ResgistroInfGeneral.get('clima').dirty || ResgistroInfGeneral.get('clima').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked">Temperatura promedio</ion-label>
          <ion-select formControlName="tipoTemperatura" placeholder="Seleccionar">
            <ion-select-option *ngFor="let tipoTemperatura of temperaturetype" [value]="tipoTemperatura">{{tipoTemperatura}}</ion-select-option>
          </ion-select>
          <ion-input formControlName="temperatura" placeholder="Ingrese"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.tipoTemperatura">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('tipoTemperatura').hasError(validation.type) && (ResgistroInfGeneral.get('tipoTemperatura').dirty || ResgistroInfGeneral.get('tipoTemperatura').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.temperatura">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('temperatura').hasError(validation.type) && (ResgistroInfGeneral.get('temperatura').dirty || ResgistroInfGeneral.get('temperatura').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked">Tipo de suelo</ion-label>
          <ion-select formControlName="tipoSuelo" placeholder="Seleccionar">
            <ion-select-option *ngFor="let tipoSuelo of floortype" [value]="tipoSuelo">{{tipoSuelo}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.tipoSuelo">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('tipoSuelo').hasError(validation.type) && (ResgistroInfGeneral.get('tipoSuelo').dirty || ResgistroInfGeneral.get('tipoSuelo').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="stacked">Uso actual</ion-label>
          <ion-select formControlName="usoActual" placeholder="Seleccionar">
            <ion-select-option *ngFor="let usoActual of Currentusage" [value]="usoActual">{{usoActual}}</ion-select-option>
          </ion-select>
        </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.usoActual">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('usoActual').hasError(validation.type) && (ResgistroInfGeneral.get('usoActual').dirty || ResgistroInfGeneral.get('usoActual').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

      </ion-card-content>
    
    </ion-card>
  <!--Parte Dos del formulario Agregar fotos y/o videos-->
    <ion-toolbar>     
      <h2>Agregar fotos y/o videos</h2>
    </ion-toolbar>

    <ion-card >
      <ion-card-content>
        <ion-button shape="round" class="upload" color="light" expand="full">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-toolbar>     
      <h2>Ubicación del Proyecto</h2>
    </ion-toolbar>

    <ion-card >
      <ion-card-content>
          <!-- Deacuerdo a la opción escogida por paìs se condicionan los demàs selects -->
          <ion-item>
            <ion-label position="stacked">País</ion-label>
          <ion-select formControlName="pais" placeholder="Seleccionar" (ionChange)="onPaisChange()">
            <ion-select-option *ngFor="let pais of countries" [value]="pais">{{pais}}</ion-select-option> 
          </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.pais">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('pais').hasError(validation.type) && (ResgistroInfGeneral.get('pais').dirty || ResgistroInfGeneral.get('pais').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item id="departamento">
            <ion-label position="stacked">Departamento</ion-label>
            <ion-select formControlName="departamento" placeholder="Seleccionar" (ionChange)="DepartamentoChange()">
              <ion-select-option *ngFor="let departamento of Departamentochoose" [value]="departamento">{{departamento}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.departamento">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('departamento').hasError(validation.type) && (ResgistroInfGeneral.get('departamento').dirty || ResgistroInfGeneral.get('departamento').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item id="municipio">
            <ion-label position="stacked">Municipio</ion-label>
            <ion-select formControlName="municipio" placeholder="Seleccionar">
              <ion-select-option *ngFor="let municipio of Municipiochoose" [value]="municipio">{{municipio}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.municipio">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('municipio').hasError(validation.type) && (ResgistroInfGeneral.get('municipio').dirty || ResgistroInfGeneral.get('municipio').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <!-- Fin -->
      
        <ion-item>
          <ion-label>Zona</ion-label>
          <ion-select formControlName="zona" placeholder="Seleccionar">
            <ion-select-option *ngFor="let zona of zone" [value]="zona">{{zona}}</ion-select-option>
          </ion-select>
        </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.zona">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('zona').hasError(validation.type) && (ResgistroInfGeneral.get('zona').dirty || ResgistroInfGeneral.get('zona').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
      
        <ion-item>
          <ion-label position="stacked">Altura sobre el nivel del mar</ion-label>
          <ion-input formControlName="msnm" placeholder="Ingrese un valor en metros"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.msnm">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('msnm').hasError(validation.type) && (ResgistroInfGeneral.get('msnm').dirty || ResgistroInfGeneral.get('msnm').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>
      
        <ion-item>
          <ion-label>Latitud</ion-label>
          <ion-input formControlName="latitud" placeholder="Latitud"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.latitud">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('latitud').hasError(validation.type) && (ResgistroInfGeneral.get('latitud').dirty || ResgistroInfGeneral.get('latitud').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label>Longitud</ion-label>
          <ion-input formControlName="longitud" placeholder="Longitud"></ion-input>
        </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.longitud">
              <div class="error-message" *ngIf="ResgistroInfGeneral.get('longitud').hasError(validation.type) && (ResgistroInfGeneral.get('longitud').dirty || ResgistroInfGeneral.get('longitud').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
    
      </ion-card-content>
    
    </ion-card>

  <!--Parte 4 - del formulario aspectos legales-->

    <ion-toolbar>     
      <h2>Aspectos Legales</h2>
    </ion-toolbar>

    <ion-card  >
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre del predio</ion-label>
          <ion-input formControlName="nombrepredio"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.nombrepredio">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('nombrepredio').hasError(validation.type) && (ResgistroInfGeneral.get('nombrepredio').dirty || ResgistroInfGeneral.get('nombrepredio').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>
      
        <ion-item>
          <ion-label position="floating">Cédula catastral</ion-label>
          <ion-input formControlName="cedulacatastral"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.cedulacatastral">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('cedulacatastral').hasError(validation.type) && (ResgistroInfGeneral.get('cedulacatastral').dirty || ResgistroInfGeneral.get('cedulacatastral').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>
      
        <ion-item>
          <ion-label position="floating">Matrícula inmobiliaria</ion-label>
          <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="matricula"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.matricula">
            <div class="error-message" *ngIf="ResgistroInfGeneral.get('matricula').hasError(validation.type) && (ResgistroInfGeneral.get('matricula').dirty || ResgistroInfGeneral.get('matricula').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

      </ion-card-content>
    
    </ion-card>
  
    <ion-toolbar>
      <ion-button id="bttSubmitResgistroProyecto" shape="round" type="submit" [disabled]="!ResgistroInfGeneral.valid" expand="full">Finalizar Registro</ion-button>
    </ion-toolbar>
  </form>

 
</ion-content>
