<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Patrocinar Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

<!--Parte Principal del formulario aspectos legales-->
<div class="Aspectoslegales">
  <ion-toolbar>     
    <h2>Aspectos Legales</h2>
  </ion-toolbar>
  
  <ion-card >
    <ion-card-content>
      <form [formGroup]="DatosPatrocinio" (ngSubmit)="saveData(DatosPatrocinio.value)">

          <ion-item>
            <ion-label position="stacked">Inicio del patrocinio</ion-label>
            <ion-datetime formControlName="datatimeInicio" yearValues="2020,2070" displayFormat="DD MM YY" max="2070" placeholder="Seleccionar"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.datatimeInicio">
              <div class="error-message" *ngIf="DatosPatrocinio.get('datatimeInicio').hasError(validation.type) && (DatosPatrocinio.get('datatimeInicio').dirty || DatosPatrocinio.get('datatimeInicio').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="stacked">Fin del patrocinio</ion-label>
            <ion-datetime formControlName="datatimeFin" displayFormat="DD MM YY" max="2070" placeholder="Seleccionar"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.datatimeFin">
              <div class="error-message" *ngIf="DatosPatrocinio.get('datatimeFin').hasError(validation.type) && (DatosPatrocinio.get('datatimeFin').dirty || DatosPatrocinio.get('datatimeFin').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="stacked" >Apoyo financiero</ion-label>
            <ion-select formControlName="rublo" placeholder="Seleccionar">
              <ion-select-option value="COP">COP</ion-select-option>
              <ion-select-option value="Dolar">USD</ion-select-option>
              <ion-select-option value="Euro">€</ion-select-option>
            </ion-select>
            <ion-input formControlName="cantidadDinero" placeholder="Ingrese cantidad deseada"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.rublo">
              <div class="error-message" *ngIf="DatosPatrocinio.get('rublo').hasError(validation.type) && (DatosPatrocinio.get('rublo').dirty || DatosPatrocinio.get('rublo').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.cantidadDinero">
              <div class="error-message" *ngIf="DatosPatrocinio.get('cantidadDinero').hasError(validation.type) && (DatosPatrocinio.get('cantidadDinero').dirty || DatosPatrocinio.get('cantidadDinero').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="stacked">Frecuencia del aporte</ion-label>
            <ion-select formControlName="Frecuenciadelaporte" placeholder="Seleccionar">
              <ion-select-option value="Mensual">Mensual</ion-select-option>
              <ion-select-option value="Trimestral">Trimestral</ion-select-option>
              <ion-select-option value="Semestral">Semestral</ion-select-option>
              <ion-select-option value="Anual">Anual</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Frecuenciadelaporte">
              <div class="error-message" *ngIf="DatosPatrocinio.get('Frecuenciadelaporte').hasError(validation.type) && (DatosPatrocinio.get('Frecuenciadelaporte').dirty || DatosPatrocinio.get('Frecuenciadelaporte').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="stacked">Nombre del proyecto a patrocinar</ion-label>
            <ion-select formControlName="nombreProyecto" placeholder="Seleccionar">
              <ion-select-option value="P1">Proyecto 1</ion-select-option>
              <ion-select-option value="P2">Proyecto 2</ion-select-option>
              <ion-select-option value="P3">Proyecto 3</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nombreProyecto">
              <div class="error-message" *ngIf="DatosPatrocinio.get('nombreProyecto').hasError(validation.type) && (DatosPatrocinio.get('nombreProyecto').dirty || DatosPatrocinio.get('nombreProyecto').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          
          <ion-toolbar>
            <ion-button shape="round" type="submit" [disabled]="!DatosPatrocinio.valid"  expand="full">Finalizar Registro</ion-button>
          </ion-toolbar>
      </form>
      </ion-card-content>
  </ion-card>
    
     
</div>


</ion-content>
