<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Acerca de nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="assets/img/somos.png">
          <ion-card-title>
            ¿Quiénes somos?
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Somos un equipo de profesionales innovadores, que a través de la interdisciplinariedad de sus integrantes, buscamos generar propuestas de gran impacto social, económico y ambiental; mediante negocios innovadores en el mercado de proyectos de generación y conservación de aire más limpio, con el fomento de patrocinio de diversos proyectos sumideros de CO2 a nivel regional y a nivel nacional.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="assets/img/Mision.png">
            <ion-card-title>  
              Misión 
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Aire + Limpio = 10R, es una empresa innovadora que propende por la generación de aire limpio a partir del  fomento de patrocinio de proyectos sumideros de CO2.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card >
        <ion-card-header>
          <img src="assets/img/vision.png">
          <ion-card-title>
            Visión
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Aire + Limpio = 10R, para el año 2025 será una empresa líder en el mercado de negocios generadores de aire más limpio, mediante un banco de proyectos sumideros de CO2, con las caracteristicas de innovación, sostenibilidad e interdisciplinariedad de sus integrantes.
          </p> 
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
