// Posición de la flecha
ion-icon.vermas{
  position: relative;
  left: 55%;
  top: 5px;
}
// Modifican el tamaño de los banners
#ImgBannerPersonas {
  height: 165px;
} 
#ImgBannerEmpresas {
  height: 165px;
}