<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Contador de proyectos y puntos -->
  <ion-card class="datosusuario">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col> 
            <img id="imgUser" >
            <div id="User">
              <ion-label class="name">Aire más limpio</ion-label>
            </div>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <div class="contenedor">
            <ion-col id="columcontadores">
              <div id="Displaycontadores">
                <ion-label id="contador">0</ion-label>
                <ion-label>Proyectos registrados</ion-label>
              </div>
            </ion-col>
            <ion-col id="columcontadores">
              <div id="Displaycontadores">
                <ion-label id="contador">0</ion-label>
                <ion-label>Proyectos patrocinados</ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div id="Displaycontadores">
                <ion-label id="contador">0</ion-label>
                <ion-label>Puntos obtenidos</ion-label>
              </div>
            </ion-col>
          </div>
         
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card>  
    <ion-card-header>
        <ion-card-title>Configuraciones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item routerLink="" lines="none" detail="false" >
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-item-divider><ion-label> Datos de la cuenta</ion-label></ion-item-divider>
      </ion-item>
      <ion-item routerLink="/actualizar-datos" lines="none" detail="false" >
        <ion-icon slot="start" name="sync"></ion-icon>
        <ion-item-divider><ion-label>Actualizar datos</ion-label></ion-item-divider>
      </ion-item>
      <ion-item routerLink="" lines="none" detail="false" >
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-item-divider><ion-label>Seguridad</ion-label></ion-item-divider>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>



