img{
  width: 58px;
  height: 58px;
  background-size: auto;
  border-radius: 100%;
  opacity: 1;
  border: 2px solid #fff;
}
.name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #355F93;
}
ion-label.ios{
  display: flex;
  font-size: 14px;
}
ion-icon.md{
  font-size: 20px;
}
.contenedor{
  display: flex;
  margin-top: 25px;
}
#Displaycontadores{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  flex-direction: column;
}
#columcontadores{
  border-right: 1px solid #22c7fb; 
}
#contador{
  font-weight: 700;
  font-size: 20px;
  color: rgb(25, 42, 50);
}
.datosusuario{
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  padding: 24px;
  border-bottom: 1px solid rgb(212, 227, 235);    
  text-align: center;
}
ion-label.ios{
  justify-content: center;
}
ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}
ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}
ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
ion-item ion-icon {
  color: #616e7e;
}
ion-item ion-label {
  font-weight: 500;
  font-size: 12px;
}
ion-item.ios {
  --min-height: 50px;
}
ion-icon.ios {
  font-size: 20px;
}