<ion-app>
 <ion-split-pane contentId="main-content" when="(min-width: 1922px)">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item-divider *ngIf="(auth.User == true); else notauthorized ">
              <img src="assets/img/logo-azul-menu.png">
              <ion-list-header>
                  <div id="User">
                    <ion-label class="name">Bienvenido</ion-label>
                    <ion-label class="verperfil">Aire más limpio</ion-label>
                  </div>
              </ion-list-header>
          </ion-item-divider>
          <ng-template #notauthorized>
            <ion-item-divider>
              <img src="assets/img/logo-azul-menu.png">
              <ion-list-header>
                  <div id="User">
                    <ion-label class="name">Bienvenido</ion-label>
                  </div>
              </ion-list-header>
          </ion-item-divider>
          </ng-template>

          <div *ngIf="(auth.User == false); else authorized" >
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesNotAuthorized; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
                <ion-item-divider><ion-label>{{ p.title }}</ion-label></ion-item-divider>
              </ion-item>
            </ion-menu-toggle>
          </div>

          <ng-template #authorized>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i" (click)="onLogout(selectedIndex)">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
                <ion-item-divider><ion-label>{{ p.title }}</ion-label></ion-item-divider>
              </ion-item>
            </ion-menu-toggle>
          </ng-template>
        
        </ion-list>
        
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>