// Posición del botton
ion-button {
  padding: 0 50px 0;
}
// Modificaciones realizadas a los botones de las redes sociales
ion-icon.Tw{  
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff ;
  background: #1da1f2 ;
  font-size: 50px;
  line-height: 50px;
  vertical-align: middle;
}
ion-icon.Fc{
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff;
  background: #3b5998 ;
  font-size: 50px;
  line-height: 50px;
  vertical-align: middle;
}
ion-icon.In{
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
// Modificaciones al textarea
ion-textarea{
  width: calc(100% - 10px);
  border: 0;
  border-radius: 0;
  background: transparent;
}
//Tamaño de las imagenes
#imgeDecription{
  width: auto; height: 20px;
}
#BttRedesSociales{
  text-align: center;
}