<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Contáctenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Formulario para enviar PQR -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Puede escribirnos aquí:
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="FormContactanos" (ngSubmit)="sendEmail(FormContactanos.value)">
        
        <ion-item>
          <ion-input formControlName="nombre"   placeholder="Nombre"></ion-input>
          <ion-input formControlName="apellido" placeholder="Apellido"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.nombre">
            <div class="error-message" *ngIf="FormContactanos.get('nombre').hasError(validation.type) && (FormContactanos.get('nombre').dirty || FormContactanos.get('nombre').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.apellido">
            <div class="error-message" *ngIf="FormContactanos.get('apellido').hasError(validation.type) && (FormContactanos.get('apellido').dirty || FormContactanos.get('apellido').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
           <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="FormContactanos.get('email').hasError(validation.type) && (FormContactanos.get('email').dirty || FormContactanos.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-input formControlName="telefono"  placeholder="Celular o Teléfono"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.telefono">
            <div class="error-message" *ngIf="FormContactanos.get('telefono').hasError(validation.type) && (FormContactanos.get('telefono').dirty || FormContactanos.get('telefono').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-textarea (keypress)="eventHandler($event.keyCode)" formControlName="bodymessage" rows="4" cols="40" placeholder="¿Cuál es el motivo de la consulta?"></ion-textarea>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.bodymessage">
            <div class="error-message" *ngIf="FormContactanos.get('bodymessage').hasError(validation.type) && (FormContactanos.get('bodymessage').dirty || FormContactanos.get('bodymessage').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-button id="bttSubmitContactanos" shape="round" expand="full" type="submit" [disabled]="!FormContactanos.valid" expand="full">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
<!-- Información basica de la institución -->
  <ion-card>
    <ion-card-header>
      <ion-card-title><img id="imgeDecription" src="assets/img/direccion.png">Dirección </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Calle 70 N° 55-210, Bucaramanga, Santander
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><img id="imgeDecription" src="assets/img/telefono.png">Llamenos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        &nbsp;(+57) 321 941 3463
        <br>&nbsp;(+57) 310 695 5069
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><img id="imgeDecription" src="assets/img/email.png">Correo Electrónico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        &nbsp;10rairelimpio@gmail.com
        <br>&nbsp;wpardaveudes@gmail.com
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><img id="imgeDecription" src="assets/img/hora.png"> Horario de Atención</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        &nbsp; 7:00am a 12:00 y 2:00pm a 5:00
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Página Web </ion-card-title>
    </ion-card-header>
    <ion-card-content id="BttRedesSociales">
      <a href="https://sites.google.com/view/10rairelimpio">
        &nbsp;www.airemaslimpio.com
      </a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Redes Sociales</ion-card-title>
    </ion-card-header>
    <ion-card-content id="BttRedesSociales">
      <!-- Botones que redirigen a redes sociales -->
        <a href="https://www.facebook.com/airelimpio10r">
          <ion-icon name="logo-facebook" class="Fc"></ion-icon>
        </a>&nbsp;
        <a href="https://www.instagram.com/airelimpio10r/?igshid=zy6n8535fxpb">
          <ion-icon name="logo-instagram" class="In"></ion-icon>
        </a>&nbsp;
        <a href="https://twitter.com/AireLimpio10R">
          <ion-icon name="logo-twitter" class="Tw"></ion-icon>
        </a>
    </ion-card-content>
  </ion-card>

    
</ion-content>
