<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title id="tituloCabezera">Actualizar datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-toolbar>     
    <ion-title>Información general</ion-title>
  </ion-toolbar>

<!-- Formulario para Empresa (Solo carga cuando hizo login Empresa) -->
  <div id="Empresas">  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos de la empresa:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="UpdateEmpresa" (ngSubmit)="saveDataEmpresa(UpdateEmpresa.value)">
          <ion-item>
            <ion-input formControlName="nit" placeholder="Nit de la empresa"></ion-input>
          </ion-item> 
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nit">
              <div class="error-message" *ngIf="UpdateEmpresa.get('nit').hasError(validation.type) && (UpdateEmpresa.get('nit').dirty || UpdateEmpresa.get('nit').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          
          <ion-item>
          <ion-input formControlName="nombreEmpresa" placeholder="Nombre de la empresa"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nombreEmpresa">
              <div class="error-message" *ngIf="UpdateEmpresa.get('nombreEmpresa').hasError(validation.type) && (UpdateEmpresa.get('nombreEmpresa').dirty || UpdateEmpresa.get('nombreEmpresa').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          
          <ion-item>
            <ion-input formControlName="actividadEmpresa" placeholder="Actividad economica"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.actividadEmpresa">
              <div class="error-message" *ngIf="UpdateEmpresa.get('actividadEmpresa').hasError(validation.type) && (UpdateEmpresa.get('actividadEmpresa').dirty || UpdateEmpresa.get('actividadEmpresa').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
  </div>

<!-- Formulario General -->
  <div class="P.Natural">  
    <ion-card>
      <ion-card-content>
        <form [formGroup]="UpdatePNatural" (ngSubmit)="saveDataPNatural(UpdatePNatural.value)">

          <ion-item>
            <ion-label position="stacked">Tipo de documento</ion-label>
            <ion-select formControlName="tipodocumento" placeholder="Seleccionar">
              <ion-select-option value="Cédula de Ciudadanía">Cédula de Ciudadanía</ion-select-option>
              <ion-select-option value="Cédula de Extranjería">Cédula de Extranjería</ion-select-option>
              <ion-select-option value="Carné diplomatico">Carné diplomatico</ion-select-option>
              <ion-select-option value="Pasporte">Pasporte</ion-select-option>
              <ion-select-option value="Permiso especial de permanencia">Permiso especial de permanencia</ion-select-option>
            </ion-select>
          <ion-input formControlName="documento" placeholder="Ingrese su documento"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.tipodocumento">
              <div class="error-message" *ngIf="UpdatePNatural.get('tipodocumento').hasError(validation.type) && (UpdatePNatural.get('tipodocumento').dirty || UpdatePNatural.get('tipodocumento').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.documento">
              <div class="error-message" *ngIf="UpdatePNatural.get('documento').hasError(validation.type) && (UpdatePNatural.get('documento').dirty || UpdatePNatural.get('documento').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input formControlName="nombre" placeholder="Nombres"></ion-input>
            <ion-input formControlName="apellido" placeholder="Apellidos"></ion-input>
          </ion-item> 
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nombre">
              <div class="error-message" *ngIf="UpdatePNatural.get('nombre').hasError(validation.type) && (UpdatePNatural.get('nombre').dirty || UpdatePNatural.get('nombre').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.apellido">
              <div class="error-message" *ngIf="UpdatePNatural.get('apellido').hasError(validation.type) && (UpdatePNatural.get('apellido').dirty || UpdatePNatural.get('apellido').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          
          <!-- Deacuerdo a la opción escogida por paìs se condicionan los demàs selects -->
          <ion-item>
            <ion-label position="stacked">País</ion-label>
          <ion-select formControlName="pais" placeholder="Seleccionar" (ionChange)="onPaisChange()">
            <ion-select-option *ngFor="let pais of countries" [value]="pais">{{pais}}</ion-select-option> 
          </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.pais">
              <div class="error-message" *ngIf="UpdatePNatural.get('pais').hasError(validation.type) && (UpdatePNatural.get('pais').dirty || UpdatePNatural.get('pais').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item id="departamento">
            <ion-label position="stacked">Departamento</ion-label>
            <ion-select formControlName="departamento" placeholder="Seleccionar" (ionChange)="DepartamentoChange()">
              <ion-select-option *ngFor="let departamento of Departamentochoose" [value]="departamento">{{departamento}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.departamento">
              <div class="error-message" *ngIf="UpdatePNatural.get('departamento').hasError(validation.type) && (UpdatePNatural.get('departamento').dirty || UpdatePNatural.get('departamento').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item id="municipio">
            <ion-label position="stacked">Municipio</ion-label>
            <ion-select formControlName="municipio" placeholder="Seleccionar">
              <ion-select-option *ngFor="let municipio of Municipiochoose" [value]="municipio">{{municipio}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.municipio">
              <div class="error-message" *ngIf="UpdatePNatural.get('municipio').hasError(validation.type) && (UpdatePNatural.get('municipio').dirty || UpdatePNatural.get('municipio').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <!-- Fin -->

          <ion-item>
            <ion-input formControlName="celular" placeholder="Celular"></ion-input>
            <ion-input formControlName="telefono" placeholder="Teléfono"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.celular">
              <div class="error-message" *ngIf="UpdatePNatural.get('celular').hasError(validation.type) && (UpdatePNatural.get('celular').dirty || UpdatePNatural.get('celular').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.telefono">
              <div class="error-message" *ngIf="UpdatePNatural.get('telefono').hasError(validation.type) && (UpdatePNatural.get('telefono').dirty || UpdatePNatural.get('telefono').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="direccion" placeholder="Dirección"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.direccion">
              <div class="error-message" *ngIf="UpdatePNatural.get('direccion').hasError(validation.type) && (UpdatePNatural.get('direccion').dirty || UpdatePNatural.get('direccion').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-toolbar>
            <ion-button id="bttSubmit" shape="round" expand="full" type="submit" [disabled]="!UpdatePNatural.valid" expand="full">Finalizar</ion-button>
          </ion-toolbar>

        </form>
      </ion-card-content>
    </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Actualizar imagen de perfil</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-button shape="round" class="upload" color="light" expand="full">
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>

  </div>
 

</ion-content>
