//Modificacion en escala de posición color etc
// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }
// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }
// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
// }
// #container a {
//   text-decoration: none;
// }
//Pone una imagen detras de un texto
// #tituloCabezera{
//   background-position: center;
//   background-repeat: no-repeat;
//   background-image: url(/assets/img/Imagen-Bg-titulo.png);
//   height: 66px;
// }
// Modifica la posición del boton
ion-button {
  padding: 0 50px 0;
}
// Disable  El form empresas
#Empresas {
  display: none;
}
#departamento{
  display: none;
}
#municipio{
  display: none;
}