<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Beneficios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <img src="assets/img/PropagandaPuntos.png">
<!-- Baner para mostrar las Empresas en los que se encuantran descuentos -->
  <ion-slides pager="true" [options]="slideOpts" class="BannerEmpresas" >  
    <ion-slide>
      <ion-card > 
        <img  src="assets/img/Cinemark.png" id="ImgBannerEmpresas">
        <ion-card-header>
            <ion-card-title>Estados Unidos</ion-card-title>
            <p>Cadena de Cines<br></p>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card > 
        <img  src="assets/img/ecopetrol.png" id="ImgBannerEmpresas">
        <ion-card-header>
            <ion-card-title>Colombia</ion-card-title>
            <p>Empresa de Petroleos S.A</p>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
