/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



h1 {
    color: var(--ion-color-tertiary);
    text-align: center;
}
h2 {
    color: var(--ion-color-tertiary);
    text-align: center;
}
ion-card-title {
    color: var(--ion-color-tertiary);
}
ion-card {
    text-align: center;
    border-radius: 10px;    
}
ion-card-content {
    text-align: justify;
}
//Modificaciones para la plataforma de ios
ion-title.ios {
    display: flex;
    font-size: 12px;
}
ion-card-title.ios {
    display: flex;
    font-size: 16px;
}
//Tamaño de los botones
ion-button {
    height: 30px;
}
//Color al icono del menu
ion-menu-button {
    color: #fff
}
ion-content ion-toolbar {
    --background: transparent;
}
// Textos centrados
p {
    text-align: center;
}
ion-title {
    text-align: center;
}
ion-toolbar {
    text-align: center;
}
//Retira el subrayado
a {
    text-decoration: none;
}
// Mesajes de error en las entradas de datos de los forms
.error-message{
    font-size: 10px;
    color: red;
}