<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Logo + eslogan -->
  <ion-toolbar>
      <img src="assets/img/LOGO_10R.png" class="logo">
      <h4>Estrategias proactivas para mejorar la calidad del aire</h4>
  </ion-toolbar>
<!-- Formulario Iniciar sesión -->
  <ion-card >
    <ion-card-header>
      <ion-card-title>Identifíquese</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginFrom" (ngSubmit)="saveData(loginFrom.value)">

        <ion-item> 
          <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="loginFrom.get('email').hasError(validation.type) && (loginFrom.get('email').dirty || loginFrom.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Contraseña"></ion-input>  
          <ion-button (click)="hide = !hide">
            <ion-icon shape="end" [name]="hide ? 'eye' : 'eye-off'" ></ion-icon>
          </ion-button>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="loginFrom.get('password').hasError(validation.type) && (loginFrom.get('password').dirty || loginFrom.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <a class="link" routerLink="/olvide-datos" >¿Olvidó  los datos de la cuenta?</a>
          
        <ion-item-divider>
          <ion-toolbar>
            <ion-button id="bttSubmit" shape="round" expand="full" type="submit" [disabled]="!loginFrom.valid" >Iniciar sesión</ion-button>
          </ion-toolbar>
        </ion-item-divider>
      </form>

      <ion-toolbar class="bttRedesSociales">
        <p>O inicia sesión con:</p>
        <ion-buttons slot="primary">
          <ion-button shape="round" id="BttDerechoF" (click)="LoginFacebook()" >
            <ion-icon name="logo-facebook" class="facebook"></ion-icon>
          </ion-button>
          <ion-button shape="round" id="BttIzqG" (click)="LoginGoogle()">
            <ion-icon name="logo-google" class="google"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button shape="round" expand="full" routerLink="/registro">
      <ion-icon name="person-add-outline"></ion-icon>
      &nbsp;REGISTRO
    </ion-button>
  </ion-toolbar>
</ion-footer>

