p {
  font-size: 12px;
  line-height: 22px;
  margin: 0;
}
a {
  font-size: small;
}
// Se Modificara la ubicación de los botones y el color de los iconos
.bttRedesSociales ion-icon{
  color: white;
}
#BttIzqG{
  --background: #DB4437;
}
#BttDerechoF{
  --background: #3b5998;
}
// Modifica la imagen del logo
.logo{
  width: 50%;
  display: flex;
  margin: auto;
  padding: 6px;
}
// Modifica el icono eye
ion-icon.eye{ 
  position:absolute;
  width:180%;
  left:0;
  text-align:right;
  margin:auto;
}
ion-item-divider{
  background-color: #fff;
  align-items: center;
}
.facebook{
  font-size: 20px;
} 
.google{
  font-size: 20px;
}