<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Olvidó sus datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<!-- Logo + eslogan -->
  <ion-toolbar>
    <img src="assets/img/LOGO_10R.png" class="logo">
    <h4>Estrategias proactivas para mejorar la calidad del aire</h4>
  </ion-toolbar>
<!-- Formulario para recuperación de contraseña -->
<ion-card >
  <ion-card-header>
    <ion-card-title>Recuperar contraseña</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="forgotPassword" (ngSubmit)="sendLinkReset(forgotPassword.value)">
      <ion-label>Ingrese su correo electrónico.</ion-label>
      <ion-item>
      <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="forgotPassword.get('email').hasError(validation.type) && (forgotPassword.get('email').dirty || forgotPassword.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-button shape="round" expand="full" type="submit" [disabled]="!forgotPassword.valid" expand="full">Enviar</ion-button>
    </form>
  </ion-card-content>
</ion-card>


</ion-content>
