// Modifica la imagen del logo
.logo{
  width: 50%;
  display: flex;
  margin: auto;
  padding: 12px;
}
ion-title{
  text-align: center;
}
// Modifica el icono del eye
ion-icon.eye{ 
  position:absolute;
  width:180%;
  left:0;
  text-align:right;
  margin:auto;
}
