<ion-header>
  <ion-toolbar color="secondary">  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title id="tituloCabezera">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
<!-- Logo + eslogan -->
<ion-toolbar>
  <img src="assets/img/LOGO_10R.png" class="logo">
  <h4>Estrategias proactivas para mejorar la calidad del aire</h4>
</ion-toolbar>
<!-- Baner para hacer transición entre Empresa y P.Natural -->
<ion-card >
  <ion-card-header>
    <ion-card-title>Identifíquese</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- Los botones estan configurados para que cuando se activen se desactiven y se les de color -->
    <ion-tab-bar>
      <ion-tab-button [selected]="activate ? 'false' : 'true'"  (click)="bttregistroNatural()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>P.Natural</ion-label>
      </ion-tab-button>

      <ion-tab-button [selected]="activate ? 'true' : 'false'" (click)="bttregistroEmpresa()">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Empresa</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-card-content>
</ion-card>

<!-- Información que se mostrara para poderse registrar como empresa -->
  <div id="Empresa" style="display: none;">    
    <ion-card >
      <ion-card-content>
        <form [formGroup]="RegisEmpresa" (ngSubmit)="saveDataEmpresa(RegisEmpresa.value)">

          <ion-item>
            <ion-input formControlName="nit" placeholder="Nit de la empresa"></ion-input>
          </ion-item> 
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nit">
              <div class="error-message" *ngIf="RegisEmpresa.get('nit').hasError(validation.type) && (RegisEmpresa.get('nit').dirty || RegisEmpresa.get('nit').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
          <ion-input formControlName="nombreEmpresa" placeholder="Nombre de la empresa"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nombreEmpresa">
              <div class="error-message" *ngIf="RegisEmpresa.get('nombreEmpresa').hasError(validation.type) && (RegisEmpresa.get('nombreEmpresa').dirty || RegisEmpresa.get('nombreEmpresa').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input formControlName="actividadEmpresa" placeholder="Actividad económica"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.actividadEmpresa">
              <div class="error-message" *ngIf="RegisEmpresa.get('actividadEmpresa').hasError(validation.type) && (RegisEmpresa.get('actividadEmpresa').dirty || RegisEmpresa.get('actividadEmpresa').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
        </form>

      </ion-card-content>
    </ion-card>
  <!-- Segunda parte del formulario -->
    <ion-card >
      <ion-card-header> 
        <ion-card-title>Persona encargada:</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <form [formGroup]="RegisEmpresa" (ngSubmit)="saveDataEmpresa(RegisEmpresa.value)">

          <ion-item>
            <ion-input formControlName="nombre" placeholder="Nombres"></ion-input>
            <ion-input formControlName="apellido" placeholder="Apellidos"></ion-input>
          </ion-item> 
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nombre">
              <div class="error-message" *ngIf="RegisEmpresa.get('nombre').hasError(validation.type) && (RegisEmpresa.get('nombre').dirty || RegisEmpresa.get('nombre').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.apellido">
              <div class="error-message" *ngIf="RegisEmpresa.get('apellido').hasError(validation.type) && (RegisEmpresa.get('apellido').dirty || RegisEmpresa.get('apellido').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="stacked">Tipo de documento</ion-label>
            <ion-select formControlName="tipodocumento" placeholder="Seleccionar">
              <ion-select-option value="Cédula de Ciudadanía">Cédula de Ciudadanía</ion-select-option>
              <ion-select-option value="Cédula de Extranjería">Cédula de Extranjería</ion-select-option>
              <ion-select-option value="Carné diplomatico">Carné diplomatico</ion-select-option>
              <ion-select-option value="Pasporte">Pasporte</ion-select-option>
              <ion-select-option value="Permiso especial de permanencia">Permiso especial de permanencia</ion-select-option>
            </ion-select>
          <ion-input formControlName="documento" placeholder="Ingrese su documento"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.tipodocumento">
              <div class="error-message" *ngIf="RegisEmpresa.get('tipodocumento').hasError(validation.type) && (RegisEmpresa.get('tipodocumento').dirty || RegisEmpresa.get('tipodocumento').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.documento">
              <div class="error-message" *ngIf="RegisEmpresa.get('documento').hasError(validation.type) && (RegisEmpresa.get('documento').dirty || RegisEmpresa.get('documento').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input formControlName="direccion" placeholder="Dirección"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.direccion">
              <div class="error-message" *ngIf="RegisEmpresa.get('direccion').hasError(validation.type) && (RegisEmpresa.get('direccion').dirty || RegisEmpresa.get('direccion').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input formControlName="celular" placeholder="Número de celular"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.celular">
              <div class="error-message" *ngIf="RegisEmpresa.get('celular').hasError(validation.type) && (RegisEmpresa.get('celular').dirty || RegisEmpresa.get('celular').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input (keypress)="Event($event.keyCode)" formControlName="email" (click)="presentToast1()" type="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="RegisEmpresa.get('email').hasError(validation.type) && (RegisEmpresa.get('email').dirty || RegisEmpresa.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <div formGroupName="passwordRetry">
            <ion-item>
              <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
              <ion-input formControlName="password" [type]="hide ? 'text' : 'password'" placeholder="Contraseña"></ion-input>  
              <ion-button (click)="hide = !hide">
                  <ion-icon [name]="hide ? 'eye-off' : 'eye'" ></ion-icon>
              </ion-button>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="RegisEmpresa.get('passwordRetry').get('password').hasError(validation.type) && (RegisEmpresa.get('passwordRetry').get('password').dirty || RegisEmpresa.get('passwordRetry').get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-input (keypress)="EventHandler($event.keyCode)" formControlName="passwordConfirmation" type="password" placeholder="Confirmar contraseña"></ion-input>  
            </ion-item> 
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.passwordConfirmation">
                <div class="error-message" *ngIf="RegisEmpresa.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegisEmpresa.get('passwordRetry').get('passwordConfirmation').dirty || RegisEmpresa.get('passwordRetry').get('passwordConfirmation').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                </div>
              </ng-container>
            </div>
          </div>
          <ion-button id="bttSubmitEmpresa" shape="round" expand="full" type="submit" [disabled]="!RegisEmpresa.valid" expand="full">Registrar Cuenta</ion-button>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
  <!-- Información que se mostrara para poderse registrar como P.Natural -->
<div id="personaNatural">
  <ion-card >
    <ion-card-content>
      <form [formGroup]="RegisPNatural" (ngSubmit)="saveDataPNatural(RegisPNatural.value)">
        
        <ion-item>
          <ion-input formControlName="nombre" placeholder="Nombres"></ion-input>
          <ion-input formControlName="apellido" placeholder="Apellidos"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.nombre">
            <div class="error-message" *ngIf="RegisPNatural.get('nombre').hasError(validation.type) && (RegisPNatural.get('nombre').dirty || RegisPNatural.get('nombre').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.apellido">
            <div class="error-message" *ngIf="RegisPNatural.get('apellido').hasError(validation.type) && (RegisPNatural.get('apellido').dirty || RegisPNatural.get('apellido').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
        <ion-input (keypress)="Event($event.keyCode)" (click)="presentToast1()" formControlName="email" type="email"  placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="RegisPNatural.get('email').hasError(validation.type) && (RegisPNatural.get('email').dirty || RegisPNatural.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
          </ng-container>
        </div>

        <div formGroupName="passwordRetry">
          <ion-item> 
            <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
            <ion-input formControlName="password" [type]="hide1 ? 'text' : 'password'" placeholder="Contraseña" ></ion-input>  
            <ion-button (click)="hide1 = !hide1">
                <ion-icon [name]="hide1 ? 'eye-off' : 'eye'" ></ion-icon>
            </ion-button>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="RegisPNatural.get('passwordRetry').get('password').hasError(validation.type) && (RegisPNatural.get('passwordRetry').get('password').dirty || RegisPNatural.get('passwordRetry').get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="passwordConfirmation" type="password" placeholder="Confirmar contraseña"></ion-input>  
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.passwordConfirmation">
              <div class="error-message" *ngIf="RegisPNatural.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegisPNatural.get('passwordRetry').get('passwordConfirmation').dirty || RegisPNatural.get('passwordRetry').get('passwordConfirmation').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>

        <ion-button id="bttSubmitPNatural" shape="round" expand="full" type="submit" [disabled]="!RegisPNatural.valid" expand="full">Registrar Cuenta</ion-button>  
      </form>
      
    </ion-card-content>
  </ion-card>

</div>
 
  


</ion-content>
